body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
    background-color: #f4f4f4;
}

.background-div {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background: url('C:\Users\omarb\Downloads\lines-4496_256.gif') no-repeat center center;
    background-size: cover;
    text-align: center;
    color: white;
    border-radius: 10px;
}
